	{%extends "base.html" %}

 {%block content %}
   	<h2> <a href="/account/home">Home</a> </h2>

 <h2 style="text-align:center">Welcome
 </h2>
<table style="width:100%;height:100%" >
	<tr>
		<td style="width:20%;vertical-align: baseline;height: 100%;">
			<p>
			Your followers:
			{%for follower in followers %}

			<div>
				<a href="/account/user/{{ follower.user.username }}/"}>
				{{follower.user.username}}
				</a>			
			</div>
			{%endfor%}
			
			<p>
			You Follow:
			{%for follow in followings %}

			<div>
				<a href="/account/user/{{ follow.follow.username }}/"}>
				{{follow.follow.username}}
			</a>
				
			</div>
			{%endfor%}
			<p> <a href="/account/profile/"> edit profile </a></p>
			<p> <a href ="../logout/">logout</a> </p>
			
		</td>
		<td style="width:60%;height: 100%">
			<h2>Whats' on your mind!</h2>
				<form action="/account/post/" method="get"> 
					<textarea maxlength="160" name="tweet" cols="120" rows="5">
					</textarea>
	 				{% csrf_token %}
					<button type="submit" > Tweet</button>
				</form>
			<h2>Latest Tweets:</h2>
			<table style="width:100%">

				{%for post in posts %}

				<tr>
					<table style="width:100%">
						<tr>
							<td style="width:100%">
							{{post.body}}

							</td>
						</tr>
						<tr>
							<td style="width:50%">
								{{post.date}}
							</td>
							<td style="width:50%">
								{{post.user}}
							</td>
						</tr>
					<!-- </table> -->
					<td style="width:100%">
					</td>
				</tr>
				<tr>
				</tr>
				
				{%endfor%}
			</table>
		</td>
		<td Style="width:20%">
		</td>

	</tr>
 </table>
{%endblock%} 	



