{%extends "base.html" %}
{%block content %}
  	<h2> <a href="/account/home">Home</a> </h2>

 	<h2 style="text-align:center"> Profile </h2>
 	<table style="width=100%;MARGIN: auto;">
 		<tr>
 			<td style="width:30%">

		 		<tr>
		 			<td>
		 				Username:
		 			</td>
		 			<td>
		 				{{profile.user.username}}
		 			</td>
		 		</tr>
		 		 <tr>
		 			<td>Email id:
		 			</td>
		 			<td>
		 				{{profile.user.email}}
		 			</td>
		 		</tr>
		 		 <tr>
		 			<td>Age:
		 			</td>
		 			<td>
		 				{{profile.age}}
		 			</td>
		 		</tr>
		 		<tr>
		 			<td>Sex:
		 			</td>
		 			<td>
						{{profile.sex}}

		 			</td>
		 		</tr>
		 	</td>
		 </tr>
		</table>
		<table style="width=100%;MARGIN: auto;">
			<tr>
		 	<td style="width:70%; text-align:center">
		 		<h2>Recent Tweets</h2>
	 			
	 				{%for tweet in tweets%}
		 				<table>
			 				<tr>
			 					<td style="text-align:left">
			 						{{tweet.body}}
			 					</td>
			 				</tr>
			 				<tr>
			 					<td>On: {{tweet.date}}
			 					</td>
			 				</tr>
			 			</table>
	 				{%endfor%}
		 	</td>
		 </tr>
 	</table>
	
 	
 	{%endblock%}