{%extends "base.html" %}
{%block content %}
  	<h2> <a href="/account/home">Home</a> </h2>

 	<h2 style="text-align:center"> Profile </h2>
 	{% for field in form %}
 	{{field.error}}

 	{%endfor%}
 	<table style="MARGIN: auto;width=100%">
 		<tr>
 			<td style="width:30%">

		 		<tr>
		 			<td>
		 				Username:
		 			</td>
		 			<td>
		 				{{profile.user.username}}
		 			</td>
		 		</tr>
		 		 <tr>
		 			<td>Email id:
		 			</td>
		 			<td>
		 				{{profile.user.email}}
		 			</td>
		 		</tr>
		 		 <tr>
		 			<td>Age:
		 			</td>
		 			<td>
		 				{{profile.age}}
		 			</td>
		 		</tr>
		 		<tr>
		 			<td>Sex:
		 			</td>
		 			<td>
						{{profile.sex}}

		 			</td>
		 		</tr>
		 		<tr>
		 			<td style="text-align: end;">
		 				{% if f1 %}
		 				This user follows you
		 				{% else %}
		 				This User doesnt follow you
		 				{%endif%}
		 			</td>
		 		</tr>
		 		<tr>
		 			<td style="text-align: end;">
		 				{% if f2 %}
		 				<a href="/account/unfollow/{{profile.user.username}}">
		 					Unfollow user
		 				</a>
		 				{% else %}
		 				<a href="/account/follow/{{profile.user.username}}">
		 					follow this user
		 				</a>
		 				{%endif%}

		 			</td>
		 		</tr>
		 	</td>
		 	<td style="width:70%">
		 		<h3>Tweets</h3>
	 			<table>
	 				{%for tweet in tweets%}
	 				<tr>
	 					<td>
	 						{{tweet.body}}
	 					</td>
	 				</tr>
	 				{%endfor%}

	 			</table>
		 	</td>
		 </tr>
 	</table>
	
 	
 	{%endblock%}