{% load static %}

<html>
<heaD>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen" type="text/css">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    {% block content %}
    {% endblock %}
