{% extends "base.html"%}
{% block content%}
	<h2>hi {{full_name}} | logged in !</h2>
	<p> click <a href ="../logout/">here</a> to logout</p>
	<p> <a href="/account/profile/"> edit profile </a></p>
{%endblock%}