{% extends "base.html"%}
{% block content%}
	{%if form.errors %}
	<p class="error"> Sorry, Not a valid username or password</p>
	{%endif%}
	<form action ="/account/auth/"  method="post"> {% csrf_token %}
		<label for "username" > User Name: </label>
		<input type="text" name="username" value="" id="username">
		<label for "password" > Password </label>
		<input type="password" name="password" value="" id="password">

		<input type="submit"  value="login" />
	</form>
	<p>
	<a href="/account/register"> Register new user</a>
{%endblock%}