{% extends "base.html"%}
{% block content%}
<h2>register</h2>
<form action='/account/register/' method="post">{%csrf_token%}
	{{form.as_p}}
<input type="submit" value="Register"/>
</form>
{%endblock%}