#test {
height: 250px;
background: #000;
color: #fff;
font-size: 100px;
text-align: center;
}
#t1{
height:100px;
background: #cccccc;
color: #fff;
font-size: 100px;
text-align: center;
}

#t2{
height:150px;
background: #CCCCFF;
color: #fff;
font-size: 100px;
text-align: center;
}

#details{
height:150px;
background: #CCCCFF;
color: #fff;
font-size: 100px;
text-align: center;
}



